.add-student {
    width: 6vw;
    margin: 20px 0;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.add-student a {
    text-decoration: none!important;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
