.sidebar{
    margin-top: 0.5%;
    height: 95%;
    width: 15%;
    background-color: #5f0b0b;
    color: #ecf0f1;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    border-radius: 10px;

}

.sidebar img{
    max-width: 100%;
    height: auto;
    position: relative;
    left: 13%;
    top: 5%;
}

.container {
    height: 95%;
    width: 81.5%;
    margin-right: 10%;
    background-color: aqua;
    margin-left: 15%;
    padding: 20px;
}

h1{
    margin-top: 0%;
    color: #030000;
    font-size: 320%;
}

.container .message{
    width: 70%;
    height: auto;
}
.message img{
    width: 29%;
    height: auto;
}

.container .students img{
    position: relative;
    left: 40%;
    top: 2%;
    width: 20%;
    height: auto;
}